<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icarus_blinking</key>
	<dict>
		<key>Duration</key>
		<string>0.5</string>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>icarus_walking%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>1</string>
		</dict>
	</dict>
	<key>icarus_breathing</key>
	<dict>
		<key>Duration</key>
		<string>0.5</string>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>icarus_walking%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>1</string>
		</dict>
	</dict>
	<key>icarus_walking</key>
	<dict>
		<key>Duration</key>
		<string>0.5</string>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>icarus_walking%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>1</string>
		</dict>
	</dict>
	<key>icarus_flying</key>
	<dict>
		<key>Duration</key>
		<string>0.2</string>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>icarus_flying%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>1</string>
		</dict>
	</dict>
	<key>icarus_dropping</key>
	<dict>
		<key>Duration</key>
		<string>0.5</string>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>icarus_dropping%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>1</string>
		</dict>
	</dict>
	<key>feather</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Duration</key>
		<string>0.4</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>feather%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>3</string>
		</dict>
	</dict>
	<key>title</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Duration</key>
		<string>0.5</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>title%02d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>10</string>
		</dict>
	</dict>
	<key>explosion</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Duration</key>
		<string>0.3</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>explosion%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>3</string>
		</dict>
	</dict>
	<key>bomb</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Duration</key>
		<string>0.3</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>bomb%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>3</string>
		</dict>
	</dict>
	<key>remedy</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Duration</key>
		<string>0.3</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>remedy%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>3</string>
		</dict>
	</dict>
	<key>finishbar</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Duration</key>
		<string>0.3</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>finishbar%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>7</string>
		</dict>
	</dict>
	<key>chick</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Duration</key>
		<string>0.5</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>chick%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>7</string>
		</dict>
	</dict>
	<key>chick_releasing</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Duration</key>
		<string>0.3</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>chick_releasing%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>4</string>
		</dict>
	</dict>
	<key>chick_jumping</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Duration</key>
		<string>0.3</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>chick_jumping%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>5</string>
		</dict>
	</dict>
</dict>
</plist>
