<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>snail_blinking</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>AnimSnail_Blinking%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>3</string>
		</dict>
	</dict>
	<key>snail_breathing</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>AnimSnail_Breathing%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>3</string>
		</dict>
	</dict>
	<key>snail_walking</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>AnimSnail_Walking%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>3</string>
		</dict>
	</dict>
	<key>snail_flying</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>AnimSnail_Flying%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>3</string>
		</dict>
	</dict>
	<key>waterdrop</key>
	<dict>
		<key>Atlas</key>
		<string>sprites.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>WaterDrop%02d.png</string>
			<key>StartIndex</key>
			<string>0</string>
			<key>EndIndex</key>
			<string>6</string>
		</dict>
	</dict>
</dict>
</plist>
