<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnimationSet</key>
	<string>animset_objects.plist</string>
	<key>Clip</key>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Animation</string>
				<key>Name</key>
				<string>chick_releasing</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
			<dict>
				<key>Items</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>1</integer>
						<key>Item</key>
						<dict>
							<key>Items</key>
							<array>
								<dict>
									<key>File</key>
									<string>WaterDrop.wav</string>
									<key>Type</key>
									<string>SoundEffect</string>
								</dict>
								<dict>
									<key>Name</key>
									<string>chick_jumping</string>
									<key>Type</key>
									<string>Animation</string>
								</dict>
							</array>
							<key>Type</key>
							<string>Spawn</string>
						</dict>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>0</integer>
						<key>Item</key>
						<dict>
							<key>MaxValue</key>
							<integer>1</integer>
							<key>MinValue</key>
							<integer>0</integer>
							<key>Type</key>
							<string>RandomDelay</string>
						</dict>
					</dict>
				</array>
				<key>Type</key>
				<string>RandomItem</string>
			</dict>
		</array>
		<key>Type</key>
		<string>Sequence</string>
	</dict>
</dict>
</plist>
