<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_Star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,611},{146,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{146,49}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>B_Star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,375},{150,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,57}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>B_Star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,223},{150,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,57}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>B_Star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,67},{154,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,57}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>Locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1385},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>S_Star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,590},{55,19}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,57},{55,19}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>S_Star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,569},{55,19}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,57},{55,19}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>S_Star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,548},{55,19}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,57},{55,19}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>S_Star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,527},{55,19}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,57},{55,19}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>Sel_Easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1013},{149,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,33}}</string>
                <key>sourceSize</key>
                <string>{149,33}</string>
            </dict>
            <key>Sel_Hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1164},{147,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{147,33}}</string>
                <key>sourceSize</key>
                <string>{149,33}</string>
            </dict>
            <key>multiicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1825},{78,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,125}}</string>
                <key>sourceSize</key>
                <string>{78,125}</string>
            </dict>
            <key>multiloading-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1655},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>multiloading-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1485},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>multiloading-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1825},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>multiloading-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1655},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>multiloading-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1485},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>multiloading-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1825},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>multiloading-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1655},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>multiloading-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1485},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>newhighscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,759},{252,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{252,33}}</string>
                <key>sourceSize</key>
                <string>{256,37}</string>
            </dict>
            <key>offbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1415},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,28}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>onbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1313},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1440,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,960}}</string>
                <key>sourceSize</key>
                <string>{1440,960}</string>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1952},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>singleicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1825},{78,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,125}}</string>
                <key>sourceSize</key>
                <string>{78,125}</string>
            </dict>
            <key>stage01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,54},{58,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,11}}</string>
                <key>sourceSize</key>
                <string>{58,11}</string>
            </dict>
            <key>stage02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,41},{58,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,11}}</string>
                <key>sourceSize</key>
                <string>{58,11}</string>
            </dict>
            <key>stage03.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,28},{58,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,11}}</string>
                <key>sourceSize</key>
                <string>{58,11}</string>
            </dict>
            <key>stage04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,15},{58,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,11}}</string>
                <key>sourceSize</key>
                <string>{58,11}</string>
            </dict>
            <key>stage05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{58,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,11}}</string>
                <key>sourceSize</key>
                <string>{58,11}</string>
            </dict>
            <key>stagelocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1952},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu_sprites.pvr</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d35222099efd27ada2f8471bf19beb4a$</string>
            <key>textureFileName</key>
            <string>menu_sprites.pvr</string>
        </dict>
    </dict>
</plist>
