<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_Star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,173},{146,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{146,49}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>B_Star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,461},{150,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,57}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>B_Star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,459},{150,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,57}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>B_Star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,400},{154,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,57}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>Locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,550},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,400},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>Purchase.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{169,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,46}}</string>
                <key>sourceSize</key>
                <string>{169,46}</string>
            </dict>
            <key>S_Star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,253},{55,19}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,57},{55,19}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>S_Star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,232},{55,19}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,57},{55,19}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>S_Star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,211},{55,19}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,57},{55,19}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>S_Star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,190},{55,19}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,57},{55,19}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>Sel_Easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,473},{149,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,33}}</string>
                <key>sourceSize</key>
                <string>{149,33}</string>
            </dict>
            <key>Sel_Hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,508},{147,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{147,33}}</string>
                <key>sourceSize</key>
                <string>{149,33}</string>
            </dict>
            <key>amount.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,435},{67,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,61}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,397},{74,64}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bomb00.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,554},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,520},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,547},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,520},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chick00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{90,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{90,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{90,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick03.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,624},{60,78}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick04.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,400},{62,80}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick05.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,464},{60,80}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{60,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick06.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,400},{62,80}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick07.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,624},{60,78}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping00.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,122},{50,50}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{50,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping01.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,136},{52,50}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,39},{52,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping02.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,82},{52,50}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,40},{52,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping03.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,186},{50,50}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{50,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping04.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,82},{52,50}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,40},{52,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping05.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,136},{52,50}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,39},{52,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_releasing00.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,573},{58,78}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_releasing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,573},{58,78}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_releasing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,699},{58,78}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_releasing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,461},{58,74}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{58,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_releasing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,461},{58,74}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{58,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>clock00.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,507},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,504},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,461},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,526},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock04.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,526},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock05.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,526},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock06.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,655},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock07.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,655},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock08.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,402},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock09.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,376},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock10.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,317},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>clock11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,381},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>explosion00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,641},{16,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{16,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explosion01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,510},{24,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{24,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explosion02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,547},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explosion03.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,518},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>feather00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,606},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{19,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>feather01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,571},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{19,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>feather02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,536},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{19,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>feather03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,473},{19,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{19,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>feather04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,571},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{19,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>finishbar00.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,82},{38,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,309}}</string>
                <key>sourceSize</key>
                <string>{38,309}</string>
            </dict>
            <key>finishbar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,42},{38,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,309}}</string>
                <key>sourceSize</key>
                <string>{38,309}</string>
            </dict>
            <key>finishbar02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,42},{38,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,309}}</string>
                <key>sourceSize</key>
                <string>{38,309}</string>
            </dict>
            <key>finishbar03.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{38,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,309}}</string>
                <key>sourceSize</key>
                <string>{38,309}</string>
            </dict>
            <key>finishbar04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{38,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,309}}</string>
                <key>sourceSize</key>
                <string>{38,309}</string>
            </dict>
            <key>finishbar05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{38,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,309}}</string>
                <key>sourceSize</key>
                <string>{38,309}</string>
            </dict>
            <key>finishbar06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{38,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,309}}</string>
                <key>sourceSize</key>
                <string>{38,309}</string>
            </dict>
            <key>finishbar07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,309}}</string>
                <key>sourceSize</key>
                <string>{38,309}</string>
            </dict>
            <key>fruit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,301},{45,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>fruit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,346},{33,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>fruit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,271},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>fruit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,359},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>fruit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,274},{45,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>fruit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,316},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>icarus_dropping00.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,94},{90,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_dropping01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{90,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_flying00.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,623},{74,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{74,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_flying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,543},{78,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{78,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_walking00.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,397},{74,64}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_walking01.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,321},{74,64}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>newhighscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,426},{252,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{252,33}}</string>
                <key>sourceSize</key>
                <string>{256,37}</string>
            </dict>
            <key>nextstage.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,520},{116,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,38}}</string>
                <key>sourceSize</key>
                <string>{116,38}</string>
            </dict>
            <key>remedy00.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,553},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{26,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>remedy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,560},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>remedy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,521},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>remedy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,560},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rtclock_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,381},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>rtclock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,461},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>rtclock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,440},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>rtclock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,588},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>rtclock_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,504},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>rtclock_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,238},{45,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{45,61}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,560},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,174},{95,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,45}}</string>
                <key>sourceSize</key>
                <string>{95,45}</string>
            </dict>
            <key>stagelocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,543},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>title01.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,320},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,334},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title03.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,294},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title04.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,214},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title05.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,188},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,228},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title07.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,122},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title08.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,108},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title09.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,82},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title10.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07911fc1a5abeda78597dfdf6e6b4e1c$</string>
            <key>textureFileName</key>
            <string>sprites.pvr</string>
        </dict>
    </dict>
</plist>
