<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,438},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,418},{74,64}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bomb00.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,404},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,404},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,403},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,404},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chick00.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{90,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick01.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{90,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick02.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{90,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick03.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,327},{60,78}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick04.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,182},{62,80}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick05.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,140},{60,80}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{60,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick06.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,182},{62,80}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick07.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,327},{60,78}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping00.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,449},{50,50}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{50,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,437},{52,50}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{52,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping02.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,418},{52,50}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,40},{52,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping03.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,404},{50,50}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{50,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping04.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,418},{52,50}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,40},{52,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_jumping05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,437},{52,50}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{52,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_releasing00.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,389},{58,78}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_releasing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,343},{58,78}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_releasing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,283},{58,78}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_releasing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,344},{58,74}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{58,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>chick_releasing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,344},{58,74}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{58,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>explosion00.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,444},{16,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{16,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explosion01.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,281},{24,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{24,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explosion02.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,420},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explosion03.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,420},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>feather00.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,409},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{19,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>feather01.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,374},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{19,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>feather02.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,339},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{19,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>feather03.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,260},{19,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{19,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>feather04.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,374},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{19,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>finishbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,304}}</string>
                <key>sourceSize</key>
                <string>{38,304}</string>
            </dict>
            <key>hen00.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,304},{112,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{112,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,230},{112,126}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{112,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,116},{112,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{112,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen03.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,116},{112,126}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{112,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen04.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{112,126}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{112,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen05.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{112,126}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{112,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen06.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,230},{112,124}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{112,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen07.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{112,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{112,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_jumping00.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,260},{46,42}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,75},{46,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_jumping01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,404},{48,42}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,59},{48,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_jumping02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,508},{48,42}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{48,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_jumping03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,260},{46,42}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,5},{46,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_jumping04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,260},{46,42}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,22},{46,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_jumping05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,489},{48,42}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_jumping06.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,260},{46,42}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,38},{46,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_jumping07.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,484},{48,42}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,73},{48,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_releasing00.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,132},{112,126}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{112,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_releasing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,824},{126,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_releasing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,307},{128,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_releasing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,824},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_releasing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_releasing05.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{128,90}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_releasing06.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,344},{110,58}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{110,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hen_releasing07.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,472},{48,42}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{48,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icarus_dropping00.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,130},{90,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_dropping01.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,88},{90,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_flying00.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,954},{74,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{74,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_flying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,954},{78,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{78,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_leftwing.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,260},{44,18}}</string>
                <key>offset</key>
                <string>{23,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,30},{44,18}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_nowings00.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,260},{56,42}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{56,42}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_nowings01.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,260},{52,42}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{52,42}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_rightwing.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,260},{44,30}}</string>
                <key>offset</key>
                <string>{-23,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{44,30}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_walking00.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,418},{74,64}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icarus_walking01.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,954},{74,64}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{74,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>remedy00.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,313},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{26,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>remedy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,283},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>remedy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,437},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>remedy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,283},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rtclock_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,403},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{41,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>rtclock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,437},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>rtclock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,954},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>rtclock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,954},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>rtclock_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>rtclock_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,260},{45,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{45,61}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,246},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,260},{95,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,45}}</string>
                <key>sourceSize</key>
                <string>{95,45}</string>
            </dict>
            <key>stagelocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,202},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>title01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,566},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,308},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title06.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,566},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title07.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,308},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title09.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>title10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:024eb5c96ac9f345ddb119aea2e7c3ff$</string>
            <key>textureFileName</key>
            <string>sprites.pvr</string>
        </dict>
    </dict>
</plist>
